@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #79A9D1;
  --color-secondary: #59544B;
  --color-tertiaty: #99a0a3;
}

a { 
  @apply text-[#59544B];
}

a:hover {
  @apply border-b-2 border-[#59544B];
}



.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}
